.container{
    display: flex;
}

.container form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

div p{
    white-space: break-spaces;
}

.table-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}